@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgb(251, 3, 160) 0%, rgb(255, 106, 106) 50%, rgba(251, 3, 160) 100%);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 100px;
}

.content1 .no{
    height: 50px;
    width: 75px;
    border-radius: 8px;
    border: 2px solid #FFF;
    background-color:rgb(255, 106, 106);
    color: #FFF;
    font-size: 18px;
    font-weight: bolder;
}

.content1 .yes{    
    height: 50px;
    width: 75px;
    border-radius: 8px;
    border: 2px solid #FFF;
    background-color: rgb(255, 106, 106);;
    color: #FFF;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    transition: ease .5s;
}   

.yes:hover{
    background-color: rgb(249, 84, 84);
}

span{
    font-weight: bolder;
    font-size: 18px;
    color:#FFF;
}

.title1{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:3%;
    width: 100%;
}

.title1 h1{
    color: #FFF;
}

.content2{
    display: none;
}

.heart{
    height: 300px;
    width: 320px;
}


.fotosMarilialv{
    width: 150px;
    height: 150px;
    /* animation: imagemFlutuar 5s; */
}

a{
    text-decoration: none;
    color: #FFF;
}

/* @keyframes imagemFlutuar {
    0%{
        transform: translateX(0), translateY(1000);
        transform: rotateX(100);
    }
    100%{
        transform: translateX(1000), translateY(0);
    }
} */